.row
  .col-xs-12.col-md-9.col-lg-9.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;')
    .hpanel
      div(ng-controller="SettingsTabController")
        tabset
          tab(heading='General')           
            .tab-content
              .panel-body
                .row
                  .col-xs-12
          tab(heading='Plugins')            
            .tab-content
              tab-pane
                .panel-body
                  .hpanel.horange
                    .panel-heading
                      .panel-tools
                        a.showhide
                          i.fa.fa-chevron-up
                      | Acquisition
                    |             
                    .panel-body
                      .form-group
                        label.control-label Select the acquisition plugin  
                        select.form-control.m-b(ng-model="plugins.acquisitorActive", ng-change="acquisitorSelectChange()")
                          option(ng-repeat="acquisitor in plugins.acquisitors track by $index" ng-selected="{{acquisitor.pluginName == plugins.acquisitorActive}}" value="{{acquisitor.pluginName}}") {{acquisitor.pluginTitle}}

                      //- Time Series Config
                      .form-group(ng-if="(plugins.acquisitors | filter: {'pluginName': plugins.acquisitorActive })[0].config")
                        .hpanel
                          .panel-heading
                            .panel-tools
                              a.showhide
                                i.fa.fa-chevron-up
                            | Select time series
                          |             
                          .panel-body
                            accordion(close-others="true")
                              //- realtime delay
                              div
                                accordion-group(heading="Real Time Delay", style="margin-bottom: 5px;")
                                  div.row
                                    .col-xs-12
                                      label.control-label Select the real time delay
                                      select.form-control.m-b( ng-model="config.realtime_delay", ng-change="acquisitorSetConfig('realtime_delay', config.realtime_delay)")
                                        option( 
                                          ng-repeat="realtime_delay in plugins.acquisitorSetup.realtime_delay track by $index" 
                                          ng-selected="{{ realtime_delay == plugins.acquisitorConfig.realtime_delay }}" 
                                          value="{{ realtime_delay }}") {{ realtime_delay }}
                              //- Listen ratio
                              div
                                accordion-group(heading="Listen Ratio", style="margin-bottom: 5px;")
                                  div.row
                                    .col-xs-12
                                      label.control-label Select the listen ratio
                                      select.form-control.m-b(
                                        ng-model="config.listen_ratio",
                                        ng-change="acquisitorSetConfig('listen_ratio', config.listen_ratio)")                          
                                        option(
                                          ng-repeat="listen_ratio in plugins.acquisitorSetup.listen_ratio track by $index"
                                          ng-selected="{{listen_ratio == plugins.acquisitorConfig.listen_ratio }}"
                                          value="{{listen_ratio}}") {{listen_ratio}}
                              //- Data delay
                              div
                                accordion-group(heading="Data Delay", style="margin-bottom: 5px;")
                                  div.row
                                    .col-xs-12
                                      label.control-label Select the data delay From
                                      select.form-control.m-b(
                                        ng-model="config.data_delay_from",
                                        ng-change="acquisitorSetConfig('data_delay_from', config.data_delay_from)")
                                        option(
                                          ng-repeat="data_delay_from in plugins.acquisitorSetup.data_delay_from track by $index"
                                          ng-selected="{{ data_delay_from == plugins.acquisitorConfig.data_delay_from }}"
                                          value="{{data_delay_from}}") {{data_delay_from}}
                                  div.row
                                    .col-xs-12
                                      label.control-label Select the data delay To
                                      select.form-control.m-b(
                                        ng-model="config.data_delay_to",
                                        ng-change="acquisitorSetConfig('data_delay_to', config.data_delay_to)")
                                        option(
                                          ng-repeat="data_delay_to in plugins.acquisitorSetup.data_delay_to track by $index"
                                          ng-selected="{{data_delay_to == plugins.acquisitorConfig.data_delay_to }}"
                                          value="{{data_delay_to}}") {{data_delay_to}}
                  .hpanel.horange
                    .panel-heading
                      .panel-tools
                        a.showhide
                          i.fa.fa-chevron-up
                      | Visualization
                    |             
                    .panel-body
                      .form-group
                        label.control-label Select the visualization plugin  
                        select.form-control.m-b(ng-model="plugins.visualizatorActive", ng-change="visualizatorSelectChange()")
                          option(ng-repeat="visualizator in plugins.visualizators track by $index" ng-selected="{{visualizator.pluginName == plugins.visualizatorActive}}" value="{{visualizator.pluginName}}") {{visualizator.pluginTitle}}
                  .hpanel.horange
                    .panel-heading
                      .panel-tools
                        a.showhide
                          i.fa.fa-chevron-up
                      | Events
                    |             
                    .panel-body
                      .form-group
                        label.control-label Select the eventor plugin  
                        select.form-control.m-b(ng-model="plugins.eventorActive", ng-change="eventorSelectChange()")
                          option(ng-repeat="eventor in plugins.eventors track by $index" ng-selected="{{eventor.pluginName == plugins.eventorActive}}" value="{{eventor.pluginName}}") {{eventor.pluginTitle}}

          tab(heading='Dashboards')           
            .tab-content
              .panel-body
                .row
                  .col-xs-12
                    table.table.table-hover.dashboards
                      thead
                        th(colspan="2")
                          div
                            .checkbox.pull-left
                              label.select-all
                                input(type="checkbox", ng-click="toggleAllDashboards()")
                                | Select All
                            a.btn.btn-danger.btn-xs.delete-btn(ng-click='deleteAllDashboards()', ng-disabled="selectedDashboards.length === 0")
                              i.glyphicon.glyphicon-trash
                              | &nbsp;
                              | Delete
                        th Acquisition
                        th Visualization
                        th(colspan="2") Actions
                      tbody
                        tr(ng-repeat='dashboard in dashboards')
                          td(width="1%")
                            input.checkbox(type="checkbox", ng-checked="selectedDashboards.indexOf(dashboard) >= 0", ng-click="toggleDashboard(dashboard)")
                          td {{dashboard.name}}
                          td.text-center(width="1%") {{dashboard.acquisitorPlugin}}
                          td.text-center(width="1%") {{dashboard.visualizatorPlugin}}
                          td.min(width="1%") 
                            a.btn.btn-default.btn-xs(ng-click='showDashboard(dashboard)')
                              i.glyphicon.glyphicon-eye-open
                          td.min(width="1%") 
                            a.btn.btn-danger.btn-xs(ng-click='deleteDashboard(dashboard)')
                              i.glyphicon.glyphicon-trash
          tab(heading='Visualizations')           
            .tab-content
              .panel-body
                .row
                  .col-xs-12
                    table.table.table-hover.visualizations
                      thead
                        th(colspan="2")
                          div
                            .checkbox.pull-left
                              label.select-all
                                input(type="checkbox", ng-click="toggleAllVisualizations()")
                                | Select All
                            a.btn.btn-danger.btn-xs.delete-btn(ng-click='deleteAllVisualizations()', ng-disabled="selectedVisualizations.length === 0")
                              i.glyphicon.glyphicon-trash
                              | &nbsp;
                              | Delete
                        th Acquisition
                        th Visualization
                        th(colspan="2") Actions
                      tbody
                        tr(ng-repeat='visualization in visualizations')
                          td(width="1%")
                            input.checkbox(type="checkbox", ng-checked="selectedVisualizations.indexOf(visualization) >= 0", ng-click="toggleVisualization(visualization)")
                          td 
                            i(ng-class="getIcon(visualization)")
                            | &nbsp;
                            | {{visualization.name}}
                          td.text-center(width="1%") {{visualization.acquisitorPlugin}}
                          td.text-center(width="1%") {{visualization.visualizatorPlugin}}
                          td.min(width="1%") 
                            a.btn.btn-default.btn-xs(ui-sref="main.visualization.editor({chart: visualization.json.chartType, id: visualization._id})")
                              i.glyphicon.glyphicon-eye-open
                          td.min(width="1%") 
                            a.btn.btn-danger.btn-xs(ng-click='deleteVisualization(visualization)')
                              i.glyphicon.glyphicon-trash
          tab(heading='DataSources')           
            .tab-content(ng-controller="SettingsTabDataSourcesController")
              .panel-body
                .row
                  .col-xs-12
                    .hpanel.horange
                      .panel-heading
                        .panel-tools
                          a.showhide
                            i.fa.fa-chevron-up
                        | Datasources
                      |             
                      .panel-body
                        div.animated-panel.zoomIn(style="animation-delay: 0.1s;", ng-if="datasources.length < 1")
                          div.hpanel.hbgred
                            div.panel-body
                              p No results, try to update the datasources
                        accordion(close-others="true", ng-if="datasources.length > 0")
                          div(ng-repeat='datasource in datasources')
                            accordion-group(heading="{{ datasource.name }}", style="margin-bottom: 5px;")
                              div.row
                                div.col-xs-12
                                  div.table-responsive
                                    table.table.table-hover.table-striped
                                      thead
                                        th Field name
                                        th Type
                                      tbody
                                        tr(ng-repeat='field in datasource.fields')
                                          td {{ field.name }}
                                          td {{ field.type }} 
                  .col-xs-12
                    .pull-right
                      a.btn.btn-info.btn-outline.btn-margin(ng-click="updateDatasources()")
                        i.fa.fa-refresh
                        | &nbsp; Update data
          tab(heading='ACLs')           
            .tab-content
              .panel-body
                .row
                  .col-xs-12
  .col-md-3.col-lg-3.col-xs-12
    .row
      .col-md-12.col-lg-12.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.9s; -webkit-animation-delay: 0.9s;')
        .hpanel.hbgblue
            .panel-body
              .text-center
                h3 Dashboards
                |                             
                p.text-big.font-light
                  | 160
                |                             
                small
                  | Dashboards available
                br
                a.btn.btn-default.btn-xs.btn-outline(style="margin-top: 5px;") See all dashboards
      .col-md-12.col-lg-12.col-xs-12.animated-panel.zoomIn(style='animation-delay: 0.9s; -webkit-animation-delay: 0.9s;')
        .hpanel.hbggreen
            .panel-body
              .text-center
                h3 Visualizations
                |                             
                p.text-big.font-light
                  | 547
                |                             
                small
                  | Visualizations available
                br
                a.btn.btn-default.btn-xs.btn-outline(style="margin-top: 5px;") See all visualizations
      .col-md-12.col-lg-12.col-xs-12.animated-panel.zoomIn(style='animation-delay: 1.3s; -webkit-animation-delay: 1.3s;')
        .hpanel
            .panel-body
              .table-responsive
                table.table.table-striped
                  thead
                    tr
                      th Alert
                      |                                     
                      th Date
                  |                                 
                  tbody
                    tr
                      td
                        span.text-danger.font-bold Lorem ipsum
                      |                                     
                      td Jul 14, 2015
                    |                                 
                    tr
                      td
                        span.text-danger.font-bold Lorem ipsum
                      |                                     
                      td Jul 09, 2015
                    |                                 
                    tr
                      td
                        span.text-danger.font-bold Lorem ipsum
                      |                                     
                      td Jul 02, 2015



